.App {
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  display: grid;
}
li{
  display: grid;
  border: 1px solid black
}


/*
nav{
  text-align: center;
}
.news:hover{
  opacity: 0.75;
}
.head {
  vertical-align: bottom;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  background-color: #0B0C0C;
  height: 100%;
}
.news {
  font-family: 'Gotham Bold Regular';
  margin-left: 8px;
  font-stretch: narrower;
  color: white;
  mix-blend-mode: difference;
  font-size: 50px;
  transition: 200ms;
}
.n{
  color: #cc0033;
  float: left;
}
.symbol{
  font-family: Impact, Haettenschweiler sans-serif;
  color:#cc0033;
  font-size: 50px;
  margin-bottom: -28px;
  margin-left: 7px;
}
footer{
  padding-top: 10%;
  padding-bottom: 1%;
  color: gray;
  text-align: center;
  font-size: 10px;
}
@font-face{
  font-family: 'SFO';
  src: url('./fonts/SFO.ttf')
}
@font-face{
  font-family: 'Adelaide';
  src: url('./fonts/Adelaide-Regular.otf')
}
@font-face{
  font-family: 'CornDemo';
  src: url('./fonts/CornDemo-Regular.ttf')
}
@font-face{
  font-family: 'Gotham Bold Regular';
  src: url('./fonts/GothamBoldRegular.ttf')
}
*/
@font-face{
  font-family: 'SFO2';
  src: url('./fonts/SanFranciscoDisplay-Regular.otf')
} 
