.text{
  margin-left: 10%;
  padding-left: 10px;
}
.submitted-text{
  font-size: 10px;
}
li{
  display: inherit;
}
.card{
  border: 1px solid gray;
  margin-bottom: 5px;
  margin-right: 25%;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.1s;
}
.card:hover{
  transform: scale(1.01);
  cursor: pointer;
}
.links {
  margin-top: -20px;
  margin-left: -10px;
  padding-inline-start: 50px;
  border: 1px solid black;
  width: 97.75%;
  background: #0B0C0C;
  color: white;
  text-align: left;
  font-family: 'Gotham Bold Regular'
}
.text-link{
  text-decoration: none;
  font-size: 20; 
  color: white; 
  transition: 200ms
}
.text-link:hover{
  color:#d42651;
}
.article{
  text-align: justify;
  padding: 10px;
  padding-top: 0px;
  margin-left: 200px;
  margin-right: 200px;
  border: thistle;
}
.article-body{
  margin-bottom: 50px;
}

.article-avatar{
  padding: 5px;
  width: 10px;
  height: 100%;
  float: left;
}
